*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primery: #060548;
    --secondery: #FFA902;
    --discription: #585876;
    --heading: #060548;
    --white: #ffffff;
}
body{
    background-color:  var(--primery);
}

/* HEADER */

header{
    background-color: transparent;
    position: sticky;
    backdrop-filter: blur(2px);
}

header img{
    width: 150px;
}


/* BANNER */

.banner{
    margin-top: 50px;
    background-color: var(--primery)
}

.banner-data{
    text-align: center;    
    font-family: 'Dosis';
    color: var(--secondery);
}
.banner-data h1{
    color: var(--white);
    font-family: 'Signika';
}



