*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primery: #060548;
    --secondery: #FFA902;
    --discription: #9191b1;
    --heading: #060548;
    --white: #ffffff;
}
.BG{
    position: sticky;    
    background-image: url("../img/bg_fluid.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}
.dics{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    width: 205px;
    height: 50px;
    text-align: center;
    font-family: 'Dosis';
    color: var(--discription);
    display: none; 
}
.btn-btn{
    color: var(--primery);
    background-color: var(--secondery);
    border-radius: 10px;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
    transition: 0.5s;
    box-shadow: none;
}
.btn-btn:hover{
    color: var(--secondery);
    background-color: var(--primery);
    box-shadow: 0 0 10px  var(--secondery);

}

/* HEADER */

header{
    background-color: transparent;
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
.nav-link{
    transition: 0.5s;
}
.nav-link:hover{
    color: #FFA902 !important;
    text-shadow: 0 0 10px var(--secondery);
    border-radius: 10%;
}
header img{
    width: 150px;
}

/* BANNER */

.banner{
    padding-top: 250px;
}
.banner-info{
    background-color: transparent;
    backdrop-filter: blur(15px);
    padding: 50px;
    border-radius: 20px;
    top: 0;
    left: 0;
}
.banner-img img{
    width: 400px;
}
.banner-data{ 
    font-size: 16px;
    color: var(--discription);
    font-family: 'Dosis';
    font-weight: 600; 
    text-shadow: 0 0 10px var(--primery);
}
.banner-data h1{
    color: var(--white);
    font-family: 'Signika';
    display: inline-block;
    align-items: end;
} 
.hi_icon{
    display: flex;
    align-items: end;
}
.hi_icon img{
    width: 50px;
    display: inline-block;
}

/* About */

.About{
    width: 100%;
    background-color: var(--primery);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}
.About .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.About-title h1{
      font-size: 42px;
      width: 555px;
      height: 100px;
      font-weight: 600;
      text-shadow: 0 0 10px var(--primery);
      color: var(--secondery);
      font-family: 'Signika';
      display: inline;
}
.About-title img{
    width: 70px;
}
.About-dics p{
    font-size: 16px;
    color: var(--discription);
    font-family: 'Dosis';
    font-weight: 600;  
    padding-top: 30px;
    text-shadow: 0 0 10px var(--primery);
}
.social_media p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Dosis';
    color: var(--secondery);
}
.About-part-1{
    background-color: transparent;
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 20px;
    top: 0;
    left: 0;
}
.About-2{
    display: flex;
    margin-top: 50px;
}
.Abouts-2 .row{
     display: flex;
}
.About-box-1{
    margin-top: 50px;
}
.About-box-2{
    margin-left: 25px;
}
.About-info{
      width: 265px;
      height: 168px;
     border-radius: 15px;
      background-color: var(--secondery);
      padding: 30px;
      margin-bottom: 25px;
      transition: all 0.3s;
}
.About-info:hover{
     transform: translateY(-8px);
     box-shadow: 0 0 10px var(--secondery);
     background-color: var(--primery);
     color: var(--secondery);
     text-shadow: 0 0 20px var(--secondery);
}
.About-info:hover p{
    display: block
}
.About-info h1{
      width: 205px;
      height: 47px;  
      font-size: 34px;
      color: var(--primery);
      font-family: 'Signika';
      font-weight: 600;
      text-align: center;

}
